body {
  margin: 0;
  background: #f8f2e7;
  display: flex;
  justify-content: center;
}

#canvas-container {
  position: relative;
}

canvas {
  max-height: 900px;
  width: auto !important;
  height: auto !important;
}

.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  border-radius: 12px;
  z-index: 20;
}
